<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>User has been deleted.</h1>
    <a href="/users">Go back to users page in 5 seconds.</a>
    <script>
      setTimeout(function() {
      window.location = '/users';
      }, 5000);
    </script>
  </body>
</html>
