<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Signup Successfully!</h1>
    <h1>Welcome to our Billing Service!</h1>
    <a href="/login">Go back to login page in 5 seconds.</a>
    <script>
      // Set the timeout and redirect to a target page
      setTimeout(function() {
        window.location = '/login';
      }, 5000);
    </script>
  </body>
</html>
