<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Fail to create a new user!</h1>
    <a href="/users/create">Go back to user create page in 5 seconds.</a>
    <script>
      setTimeout(function() {
        window.location = '/users/create';
      }, 5000);
    </script>

  </body>
</html>
